/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
 Font styles

 Roboto: Light 300
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">

Roboto: Regular: 400
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

 */

 :root {
   --primary-color: #F8F8FF;
   --secondary-color: #e0b354;
   --dark-grey: #2b2b2b;
   --smallest-font: 16px;
   --small-font: 18px;
   --medium-font: 24px;
   --large-font: 30px;
   --link-color: #357b70;
   --visited-link: #2b2b2b;
   --active-link: #489c79;
   --button-background-color: #357b70;
   --button-text-color: #ffffff;
   --button-padding: 10px;
   --button-border-radius: 3px;
   --button-border-bottom: 2px;
   --button-secondary-color: #f95959;
   --button-secondary-text-color: #2b2b2b;
   --profile-padding: 40px;
   --page-header: 20px;
   --page-header-bottom: 1px;
   --page-header-bottom-color: #CCC;
   --page-header-padding: 5px;
   --page-header-item: 40px;
   --navigation-list: 15px;
   --contact-items: 30px;
   --grid-item-color: #D3D3D3;
   --media-grid-gap: 10px;
   --media-h1-font: 22px;
   --keyframe-color-0: #edc655;
   --keyframe-color-50: #fcffad;
   --keyframe-color-100: #f76414;

 }

 * {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
 }

body {
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: var(--smallest-font);
  /* Sets the font size to 16px */
  line-height: 1.6;
  /* Sets the line-height to 1.6 */
}

h1 {
  font-size: var(--large-font);
  font-weight: 700;
}

h2 {
  font-size: var(--medium-font);
  font-weight: 700;
}

h3 {
  font-size: var(--small-font);
  font-weight: 700;
}

a {
  color: var(--link-color);
}

a:visited {
  /* visited link */
  color: var(--visited-link);
}

a:hover, a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--active-link);
}

.button, button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  text-decoration: none;
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  /* width of the border, type, color */
  border-bottom: var(--button-border-bottom) solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.button__secondary {
  /*backround-color: red: #f95959 */
  background-color: var(--button-secondary-color);
  color: var(--button-secondary-text-color);
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: var(--profile-padding);
  border-radius: 50%;
}



.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: var(--page-header);
  border-bottom: var(--page-header-bottom) solid var(--page-header-bottom-color);
  padding-bottom: var(--page-header-padding);
}

.page-header__item {
  width: 200px;
  margin-right: var(--page-header-item);
  border-radius: 20%;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  margin-right: 0;
}

.page-footer {
    clear: both;
    display: column;
    text-align: center;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: var(--navigation-list);
}

.about {
  clear: both;
  display: column;
  text-align: center;
}

.contact-header {
  padding-left: var(--contact-items);
}

.contact-info {
  padding-left: var(--contact-items);
}

#contact-form {
  padding-left: var(--contact-items);
}

#contact-email {
  margin-bottom: var(--contact-items);
}

#contact-telephone {
  margin-bottom: var(--contact-items);
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--grid-item-color);
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: var(--media-grid-gap);
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: var(--media-h1-font);
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: var(--keyframe-color-0);
  }
  50% {
    fill: var(--keyframe-color-50);
  }
  100% {
    fill: var(--keyframe-color-100);
  }
}

@keyframes color-change {
  0% {
    fill: var(--keyframe-color-0);
  }
  50% {
    fill: var(--keyframe-color-50);
  }
  100% {
    fill: var(--keyframe-color-100);
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
            transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
            transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 29s cloud-move infinite alternate linear;
          animation: 29s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation:25s cloud-move-reverse infinite alternate linear;
          animation:25s cloud-move-reverse infinite alternate linear;
}
